  <h2>Your Classes</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Title</th>
        <th>Room</th>
        <th>Assignment</th>
        <th>Material</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% events_as_student.each do |event| %>
      <tr>
        <td><%=event.scheduled_date %></td>
        <td><%= timeslots.find(event.time_slot.to_i).first.name %></td>
        <td><%= link_to event.name, event %></td>
        <td><%=event.room.name %></td>
        <td>
          <% if event.assignment %>
            <%=link_to event.assignment.name, assignment_path(event.assignment) %>
          <% end %>
        </td>
        <td>
          <% if event.material %>
            <%=link_to 'download', material_path(event.material) %>
          <% end %>
        </td>
        <td><%= link_to "Unregister", deregister_url(event) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
