  <h2>Room Allocations</h2>
  <ul class="filter option-set" data-filter-group="category">
    <li><a href="#" data-filter-value="">all</a></li>
    <li><a href="#" data-filter-value=".full">full</a></li>
    <li><a href="#" data-filter-value=".empty">empty</a></li>
  </ul>


   <h2>Rooms</h2>
  <ul class="filter option-set" data-filter-group="breadbox">
    <li><a href="#" data-filter-value="">all</a></li>
    <% rooms.each do |r| %>
      <li><a href="#" data-filter-value=".<%= r.name.gsub(/ /, '_' ) %>"><%= r.name %></a></li>
    <% end %>
  </ul>


<div id="things">
  <!-- ADD EVENTS HERE -->
  <% date_range.each do |d| %>
  <% timeslots.each do |t| %>
  <% rooms.each do |r| %>
  <div class="event_box thing <%= r.name.gsub(/ /, '_' ) %>
  <% if events.select{|e| e.scheduled_date == d && e.time_slot == t.id.to_s }.any?  %>
  <%= "full" %>
  <% else %>
  <%= "empty" %>
  <% end %>
  " >
  <% @day = (d.strftime("%e").to_i).ordinalize %>
  Room: <%= "#{r.name} (#{r.size})" %><br>
  Date: <%= d.strftime("%a, #{@day} %b '%y") %><br>
  Time: <%= t.name %> <br>
  <% events.select {|e| e.scheduled_date == d && e.time_slot == t.id.to_s }.each do |event| %>
  <h5><%= event.name %></h5>
  <p><%= event.description %><p>
  <% end %>
</div>
<% end %>
<% end %>
<% end %>

</div>
