<h1><%=@event.name%></h1>


<p><%=@event.description%></p>

<% if current_user %>
  <% binding.pry %>
    <% if can? :register_user, @event %>
      <% if @event.person_ids.include? current_user.id %>
        <%= link_to "Unregister for #{@event.name}", deregister_url %>
      <% else %>
        <%= link_to "Register for #{@event.name}", register_url %>
        <% session[:return_to] = request.referer %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to 'Register with GA', new_person_path %>
<% end %>