  <div class="navbar-inner">
    <%= link_to 'GA Skool', root_path, class: "brand" %>
    <ul class="nav">
      <% if current_user %>
      <% if can? :create, Event %>
      <li><%= link_to 'Create Event', new_event_path %></li>
      <% end %>
      <li><%= link_to 'Agenda', outlines_agenda_path %></li>
      <% if current_user.role? 'admin' %>
      <li><%= link_to 'Dashboard', outlines_dashboard_path %></li>
      <% end %>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <% if current_user %>
      <li><%= link_to 'Logout', session_path(session), method: :delete, data: {confirm: 'Are you sure?'} %></li>
      <% else %>
      <li><a href=<%=login_path%>>Login</a></li>
      <li><a href=<%=new_person_path%>>Register</a></li>
      <% end %>
    </ul>
  </div>
